![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [11]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

1. School with the best math scores

In [12]:
#subset the data with 80% score in math 
best_math_schools= schools[schools['average_math']>= 640]

#keep only columns 'school_name' and 'average_math' in a descending way 
best_math_schools= best_math_schools[['school_name','average_math']].sort_values('average_math',ascending=False)

#print the result
print(best_math_schools.head())

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

2. Top 10 schools performing

In [13]:
# creat column 'total_SAT' for total score
schools['total_SAT']= schools['average_math']+schools['average_reading']+schools['average_writing']

# Show in dataframe column 'total_SAT' in descending order
schools=schools.sort_values('total_SAT', ascending=False)

# the 10 best score in DataFrame top_10_schools columns 'school_name' an 'total_SAT'
top_10_schools=schools[['school_name','total_SAT']].head(10)

print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

3. New York Borough with higher standard deviation

In [14]:
#mean, standard deviation and number of school of each borough 
largest_std_dev =schools.pivot_table(index='borough', aggfunc={'total_SAT':['count','mean','std']}).round(2)

#rename the columns mean, standard deviation and number of school
largest_std_dev.columns=['num_schools','average_SAT','std_SAT']

#boroughs who got the highest score (only one here)
largest_std_dev= largest_std_dev.loc[largest_std_dev['std_SAT']==largest_std_dev['std_SAT'].max()] 

print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29